@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Whist Point Calculator</h1>
    <p><a asp-action="Index" asp-controller="Game">Start a new game here</a>.</p>
</div>
